@using DotnetSingapore.Data.Web;

@model HomepageViewModel

@{
    ViewData["Title"] = "Home Page";

    int numberOfFacebookGroupFeedsToDisplay = 3;
}

<div class="parallax filter-gradient blue" data-color="blue">
    <div class="parallax-background">
        <img class="parallax-background-image" src="~/images/photos/photo-1.png">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="description">
                    <h2>.NET Developers Community</h2>
                    <br>
                    <h5>
                        Welcome to the .NET Developers Community in Singapore. We invite all of .NET developers to join this community.
                        We organise meetups to share knowledge, code and our enthusiasm for programming in .NET ecosystem.
                    </h5>
                </div>
                <div class="buttons">
                    <a href="https://www.meetup.com/NET-Developers-SG" class="btn btn-simple btn-neutral" target="_blank">
                        <i class="fa fa-meetup"></i>
                    </a>
                    <a href="https://www.facebook.com/groups/sg.netdev" class="btn btn-simple btn-neutral">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-gray section-clients">
    <div class="container text-center">
        <h4 class="header-text">Building .NET Development Ecosystem Together</h4>
        <p>
            In Singapore, the .NET ecosystem has not been as good as other countries. However, it does not mean there is no .NET developers
            or enterprises not using .NET. In fact, most of the enterprises or event startups in Singapore are using .NET for their development. 
            Hence, in this community, we would like to group .NET developers and those who wants to learn .NET together to contribute to the
            .NET ecosystem in Singapore.
        </p>
        <div class="logos">
            <ul class="list-unstyled">
                <li><img src="~/images/logos/visual-studio.png" /></li>
                <li><img src="~/images/logos/dotnet-core.png" /></li>
                <li><img src="~/images/logos/xamarin.png" /></li>
                <li><img src="~/images/logos/sql-server.png" /></li>
                <li><img src="~/images/logos/kubernetes.png" /></li>
                <li><img src="~/images/logos/azure.png" /></li>
            </ul>
        </div>
    </div>
</div>
@if (Model.HighlightedEvent != null)
{
    <div class="section section-presentation">
        <div class="container">
            <div class="description">
                <h4 class="header-text">@Model.HighlightedEvent.Name</h4>

                @if (!Model.IsHighlightedEventUpcoming)
                { 
                    <span class="label label-danger">Event is over</span>
                }                
                
                <p>
                    <i class="fa fa-calendar-o"></i> @Model.HighlightedEvent.HappensAtDateTime.ToString("yyyy-MM-dd HH:mm")<br />
                    <i class="fa fa-users"></i> @Model.HighlightedEvent.NumberOfRsvpCount participants<br />
                    <i class="fa fa-map-marker"></i> @Model.HighlightedEvent.Venue
                </p>
                <p>
                    @Html.Raw(Model.HighlightedEvent.Description)
                </p>

                @if (Model.IsHighlightedEventUpcoming)
                {
                    <a href="@Model.HighlightedEvent.MeetupPageUrl" class="btn btn-fill btn-info" data-button="info" target="_blank">Register Now</a>
                }
                else
                { 
                    <a href="@Model.HighlightedEvent.MeetupPageUrl" class="btn btn-fill btn-info" data-button="info" target="_blank">Read More</a>
                }

            </div>
        </div>

        <div id="map-canvas-meetup-event" class="event-map">

        </div>
    </div>
}

@if (Model.FacebookGroupFeeds != null && Model.FacebookGroupFeeds.Count() > 0)
{
    <div class="section section-features">
        <div class="container">
            <h4 class="header-text text-center">Latest Discussion on Facebook</h4>
            <div class="row">
                @{ int numberOfFacebookGroupFeeds = 0; }
                @foreach (var feed in Model.FacebookGroupFeeds)
                {
                    if (numberOfFacebookGroupFeeds >= numberOfFacebookGroupFeedsToDisplay)
                    {
                        break;
                    }

                    <div class="col-md-4">
                        <div class="card card-blue">
                            <div class="content">
                                <img src="@(feed.PictureUrl != null ? feed.PictureUrl : "https://secure.meetupstatic.com/photos/event/6/4/1/f/600_451345631.jpeg")" style="width: 100%; height: 200px;" />
                                @if (feed.ArticleName != null)
                                { 
                                    <p>@((feed.ArticleName.Length > 30) ? $"{ feed.ArticleName.Substring(0, 30) }..." : feed.ArticleName)</p>
                                }

                                @if (feed.ArticleDescription != null)
                                { 
                                    <p>@((feed.ArticleDescription.Length > 100) ? $"{ feed.ArticleDescription.Substring(0, 100) }..." : feed.ArticleDescription)</p>
                                }
                                <div>
                                    <a href="@feed.ArticleUrl" class="general-link general-link--arrow" target="_blank">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    numberOfFacebookGroupFeeds++;
                }
            </div>
            <div class="general-action-button">
                <a href="https://www.facebook.com/groups/sg.netdev" class="btn btn-fill btn-info btn-lg" target="_blank"><i class="fa fa-facebook"></i> Read More</a>
            </div>
        </div>
    </div>
}


<div class="section section-no-padding">
    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <img class="parallax-background-image" src="~/images/photos/photo-2.png" />
        </div>
        <div class="info">
            <h1>Meetup Recordings</h1>
            <p>Please subscribe to our YouTube channel to watch the videos of past events.</p>
            <a href="https://www.youtube.com/channel/UCE-lhcJyBK8Pud18Ao1r06A" class="btn btn-neutral btn-lg btn-fill" target="_blank"><i class="fa fa-youtube"></i> Subscribe Now</a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCVrHTcYCswr7aRIHLORFgqOGQFH2_N0Ok">
    </script>

    @if (Model.HighlightedEvent != null)
    {
        <script>
            function initializeMapOfMeetupEvent() {
                var eventLatlng = new google.maps.LatLng(@Model.HighlightedEvent.Venue.Latitude, @Model.HighlightedEvent.Venue.Longitude);
                var mapOptions = {
                    scrollwheel: false,
                    center: eventLatlng,
                    zoom: 16
                };

                var map = new google.maps.Map(document.getElementById('map-canvas-meetup-event'),
                    mapOptions);

                var marker = new google.maps.Marker({
                    position: eventLatlng,
                    map: map,
                    title: '@Model.HighlightedEvent.Name'
                });
            }
            google.maps.event.addDomListener(window, 'load', initializeMapOfMeetupEvent);
        </script>
    }

}